@font-face {
  font-family: "Archivo";
  src: url("./res/Archivo/Archivo-Regular.ttf") format("truetype");
}

:root {
  --dgray: #212224;
  --grey: #27282c;
  --lgrey: #a8a9ab;
  --lightblue: #1e77ef;
  --lightpurple: #786bec;
  --white: #f9fafc;
  --red: #fe6464;
  --orange: #ffca28;
  --green: #5cb85c;
}

body {
  background: #212224;
  color: var(--white);
}

.App {
  margin: 0;
  margin-top: -20px;
  padding: 0;

  font-family: "Archivo";
  position: relative;
  overflow: auto;
}

.landing-page-container {
  height: 99vh;
  overflow: hidden;
  text-align: center;
}

.loading-page-inner-container {
  margin-top: 30px;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.lp-header {
  margin-top: 70px;
  font-size: 52px;
}

label {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.toggler-div {
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.toggler-div button {
  border: 2px solid var(--orange);
  color: var(--orange);
}

.toggler-div button:hover {
  transform: scale(1.2);
  background-color: var(--orange);
  color: var(--white);
}

.toggler-div p {
  margin-right: 15px;
  font-size: small;
}

.login-container,
.register-container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.login-box,
.register-box {
  width: 100%;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: 50px;
  padding: 40px 0px;
  border-radius: 10px;
  animation: appear 0.3s linear;
}

@keyframes appear {
  0% {
    opacity: 0;
    margin-top: 80px;
  }

  100% {
    opacity: 1;
    margin-top: 50px;
  }
}

.login-box input,
.register-box input {
  width: 60%;
  margin: 10px 0;
  height: 40px;
  background-color: var(--dgray);
  border: none;
  border-radius: 10px;
  outline: none;
  color: var(--white);
}

.login-box button,
.register-box button {
  margin-top: 15px;
  width: 30%;
}

.login-box button:hover,
.register-box button:hover {
  transform: scale(1.2);
  background-color: var(--lightblue);
  color: white;
}

.main-container {
  min-height: 90vh;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: var(--grey);
  border-radius: 10px;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
}

.header {
  margin-left: 60px;
  margin-top: 30px;
}

.clock {
  margin-left: auto;
  margin-right: 60px;
  margin-top: 30px;
}

.link-container {
  background-color: var(--dgray);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  width: 95%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 10px;
}

.completed-link-container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

.unchecked-notification-icon {
  position: absolute;
  display: flex;
  right: 50px;
  top: 5px;
  background-color: var(--red);
  border-radius: 50%;
  padding: 3px 7px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  animation: pop 0.4s forwards;
}

@keyframes pop {
  100% {
    transform: scale(1);
  }
}

.link {
  justify-self: center;
  font-size: 17px;
  color: var(--lgrey);
  background-color: var(--grey);
  border-radius: 10px;
  width: 90%;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s;
}

.link:active {
  background-color: var(--dgray);
  color: var(--white);
}

.colors-container {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.color {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.color:nth-child(1) {
  background-color: var(--lightblue);
}

.color:nth-child(4) {
  background-color: var(--dgray);
  border: 1px solid var(--grey);
}

.color:nth-child(3) {
  background-color: var(--grey);
}

.color:nth-child(2) {
  background-color: var(--white);
}

@media only screen and (max-width: 600px) {
  .header-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  .header {
    margin-left: 0;
  }

  .clock {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    font-size: 35px;
  }
}

.todo-list-container {
  margin-top: 40px;
  width: 70%;
  background: var(--dgray);
  border-radius: 10px;
  margin-right: auto;
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px auto;
}

.add-todo {
  margin-top: 20px;
  height: 100px;
  display: flex;
  justify-content: center;
}

button {
  background-color: #212224;
  padding: 11px;
  font-weight: bolder;
  font-size: 13px;
  outline: none;
  border: 2px solid var(--lightblue);
  color: var(--lightblue);
  cursor: pointer;
  height: 40px;
  border-radius: 10px;
  transition: 0.5s;
}

.todo-list-container input {
  width: 80%;
  height: 40px;
  background-color: var(--grey);
  border-radius: 10px;
  border: none;
  color: var(--gray);
  outline: none;
  text-align: center;
}

.btn-add-todo {
  margin-left: 10px;
  border: 2px solid var(--lightblue);
  color: var(--lightblue);
  background-color: var(--gradient);
}

.btn-add-todo:hover {
  background-color: var(--lightblue);
  color: var(--white);
  transform: scale(1.2);
}

.todoitems-container {
  margin-top: 60px;
  height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

.completed-todoitems-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  margin-top: 50px;
}

.completed-at {
  color: var(--orange);
}

.todo-item-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-bottom: 1px solid var(--grey);
}

.todo-item-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  position: relative;
  display: flex;
}

.content-container-completeds {
  display: flex;
  flex-direction: column;
}

.content {
  word-wrap: break-word;
  font-size: 20px;
}

.editor-container {
  border: 2px solid white;
  position: absolute;
  top: 5px;
  width: 100%;
}

.editor-container input {
  font-size: 20px;
  width: 100%;
  min-height: 100%;
}

.editor-container .save-button {
  position: absolute;
  right: -100px;
}

.todo-item-buttons-container {
  margin-left: auto;
}

.checkButton {
  margin-right: 20px;
  margin-top: 7px;
  line-height: 1;
  font-size: 17px;
  transition: 0.5s;
}

.edit:hover,
.checkButton:hover {
  background-color: var(--lightblue);
  color: var(--white);
  transform: scale(1.2);
}

.xButton {
  border: 2px solid var(--red);
  color: var(--red);
  width: 40px;
  margin-right: 20px;
  margin-top: 10px;
}

.edit {
  width: 70px;
  margin-top: 10px;
  margin-right: 10px;
}

.xButton:hover {
  background-color: var(--red);
  color: var(--white);
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .todo-list-container {
    margin-top: 30px;
    width: 90%;
  }

  .todo-item-container {
    width: 100%;
    margin-left: -20px;
  }

  .add-todo {
    flex-direction: column;
  }

  .add-todo input {
    width: 100%;
  }

  .btn-add-todo {
    margin-top: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .todo-item-buttons-container {
    margin-bottom: 10px;
  }

  .todoitems-container {
    margin-top: 100px;
  }

  .todo-item-container {
    min-height: 100px;
    flex-direction: column;
    margin-top: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightblue);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dgray);
}

.level-bar-container {
  margin-top: 40px;
  text-align: center;
  margin-left: 0px;
  margin-right: auto;
  width: 80%;
}

.level-bar-main {
  width: 70%;
  margin-left: 150px;
}

.user-profile-container {
  height: 350px;
  width: 300px;
  background-color: var(--dgray);
  position: absolute;
  top: 237px;
  border-radius: 10px;
  left: auto;
  right: 120px;
  display: flex;
  flex-direction: column;
}

.info {
  height: 65%;
  width: 260px;
  border-radius: 10px;
  margin-top: 15px;
  background-color: var(--grey);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile-picture {
  margin-top: 30px;
  margin-bottom: 0px;
  width: 60px;
  height: 60 px;
  border-radius: 50%;
  border: 2px solid var(--grey);
}

.info-username {
  font-size: 22px;
  font-weight: bold;
}

.utility-buttons {
  height: 20%;
  width: 260px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--grey);
  margin-left: auto;
  margin-right: auto;
}
