@font-face {
  font-family: 'Archivo';
  src : url('./res/Archivo/Archivo-Regular.ttf') format('truetype');
}

:root {
  --grey : #27282C;
}

body {
  background:#212224;
}

.App {

  margin: 0;
  margin-top: -20px;
  padding: 0;  

  font-family: 'Archivo';
 position: relative;
 overflow: auto;
}



.main-container {

  display: inline-block;
  margin-top: 75px;
  margin-left: 75px;
  width: 90%;
  height: 85vh;
  background-color: var(--grey);
  border-radius: 10px;
}
