@font-face {
  font-family: "Archivo";
  src: url("./res/Archivo/Archivo-Regular.ttf") format("truetype");
}

:root {
  --dgray: #212224;
  --grey: #27282c;
  --lgrey: #a8a9ab;
  --lightblue: #38ddcd;
  --white: #f9fafc;
  --red: #fe6464;
  --orange: #ffca28;
  --green: #5cb85c;
}

body {
  background: #212224;
  color: var(--white);
}

.App {
  margin: 0;
  margin-top: -20px;
  padding: 0;

  font-family: "Archivo";
  position: relative;
  overflow: auto;
}

.main-container {
  min-height: 90vh;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: var(--grey);
  border-radius: 10px;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  margin-left: 60px;
  margin-top: 30px;
}

.clock {
  margin-left: auto;
  margin-right: 60px;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .header-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  .header {
    margin-left: 0;
  }

  .clock {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    font-size: 35px;
  }
}

.todo-list-container {
  margin-top: 60px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px auto;
}

.add-todo {
  height: 100px;
  display: flex;
  justify-content: center;
}

button {
  background-color: #212224;
  padding: 11px;
  font-weight: bolder;
  font-size: 13px;
  outline: none;
  cursor: pointer;
  height: 40px;
  border-radius: 10px;
  transition: 0.5s;
}

.todo-list-container input {
  width: 80%;
  height: 40px;
  background-color: var(--dgray);
  border-radius: 10px;
  border: none;
  color: var(--gray);
  outline: none;
  text-align: center;
}

.btn-add-todo {
  margin-left: 10px;
  border: 2px solid var(--lightblue);
  color: var(--lightblue);
  background-color: var(--dgray);
}

.btn-add-todo:hover {
  background-color: var(--lightblue);
  color: var(--white);
  transform: scale(1.2);
}

.todoitems-container {

  margin-top: 30px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.todo-item-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-bottom: 3px solid var(--dgray);
}

.todo-item-container {
  display: flex;
  flex-direction: row;
}

.content-container {
  position: relative;

}

.content {
  word-wrap: break-word;
  font-size: 20px;
}



.editor-container {
}

.editor-container input {
 
}

.todo-item-buttons-container {
  margin-left: auto;
}

.xButton {
  border: 2px solid var(--red);
  color: var(--red);
  width: 70px;
  margin-right: 20px;
}

.edit {
  border: 2px solid var(--orange);
  color: var(--orange);
  width: 70px;
  margin-top: 10px;
  margin-right: 10px;
}

.xButton:hover {
  background-color: var(--red);
  color: var(--white);
  transform: scale(1.2);
}

.edit:hover {
  background-color: var(--orange);
  color: var(--white);
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .todo-list-container {
    margin-top: 30px;
    width: 90%;
  }

  .todo-item-container {
    width: 100%;
    margin-left: -20px;
  }

  .add-todo {
    flex-direction: column;
  }

  .add-todo input {
    width: 100%;
  }

  .btn-add-todo {
    margin-top: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .todo-item-buttons-container {
    margin-bottom: 10px;
  }

  .todoitems-container {
    margin-top: 100px;
  }


  .todo-item-container {
    min-height: 100px;
    flex-direction: column;
    margin-top: 0;
  }
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightblue); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dgray); 
}